.NavBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:90%;
  overflow-y:scroll;
  overflow-x:hidden;
}

.logo {
  height: 4vw;
  margin: 2vw 0vh;
  object-fit: contain;
  cursor: pointer;
}

.ToolLogo {
  color: gray;
  margin-right: 2vw;
}

.ToolList {
  display: flex;
  width:100%;
  flex-direction: row;
  justify-content: center;
  align-items:center;
}

.NavList {
  width:inherit;
  height:100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 0%;
}

.NavList li {
  font-size: calc(7px + 0.7vw);
  width: 80%;
  margin: 0.8vw 0px;
  text-align:left;
  color: #5c15b8;
  padding: 1.7vh 0vw;
  padding-left:3vw;
  border-radius: 10px;
}

.ToolHeading {
  background-color: #f3f6f7;
  font-size: calc(7px + 0.8vw);
  padding: 1vw 0vw;
  width: 90%;
  border-radius: 10px;
  height: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(107, 106, 106);
  font-weight: 600;
}

#Active {
  color: whitesmoke;
  background-color: #5c15b8;
}

@media only screen and (max-width:600px){
  .Sidebar{
    width: 40vw;
    min-width: 100px;
  }
  .ToolLogo{
    transform: scale(0.8);
  }
  .NavList li{
    padding: 1vh 3vw;
    text-align: left;
  }
}